<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link rel="stylesheet" href="css/about.css" />
    <title>Text to Speech</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="flashcards">Flashcards</a></li>
        <li><a href="calendars">Calendar</a></li>
       
      </ul>
    </nav>

<div class="about-section">
  <h1>About Studyfy</h1>
  <p>The idea for this tool or collection of tools was inspired by two things from my personal 
  journey to learning software engineering and cybersecurity. One of the most pressing obstacles that seem to 
  come up is learning and retaining very technical information.  Long story short, my trial and error was
  going in circles and my mentor pointed me to methods that have helped people successfully learn and retain 
  information called active recalling.  This application has three tools to support your learning journey. 
  The first tool is text to speech and the suggested use is copy and paste paragraphs or pages you want to 
  study, select a voice and listen to your text as you read it. The next tool is flashcards and the suggested
  use is to make your own flashcards for information that is specific and require a bit more studying.  The 
  third and final piece is the calendar which of course is to schedule your sessions for the day or week. I 
  believe it is important to get familiar with the tools before you know how to plan out your time.</p>
  
</div>

<h2 style="text-align:center">Supporting Resources</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Text to Speech</h2>
        <p class="title">Spatial Repitition Assistant</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>