<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link rel="stylesheet" href="css/about.css" />
    <title>Studyfy</title>
  </head>
  <body>
   

<div class="about-section">
  <h1>About Studyfy</h1>
  <p>The idea for this tool or collection of tools was inspired by two things from my personal 
  journey to learning software engineering and cybersecurity. One of the most pressing obstacles that seem to 
  come up is learning and retaining very technical information.  Long story short, my trial and error was
  going in circles and my mentor pointed me to methods that have helped people successfully learn and retain 
  information called active recalling.  This application has three tools to support your learning journey. 
  The first tool is text to speech and the suggested use is copy and paste paragraphs or pages you want to 
  study, select a voice and listen to your text as you read it. The next tool is flashcards and the suggested
  use is to make your own flashcards for information that is specific and require a bit more studying.  The 
  third and final piece is the calendar which of course is to schedule your sessions for the day or week. I 
  believe it is important to get familiar with the tools before you know how to plan out your time.</p>
  
</div class="lower-body">

<h2 style="text-align:center">Study Tools</h2>
<div class="row">
  <div class="column">
    <div class="card">
   
      <div class="container">
        <h2>Calendar</h2>
        <p class="title">Planning your day</p>
        <p>Planning a schedule is probably the best way to have a schedule
        that works for you.  This calendar is meant to help you find a good schedule.</p>
    
       <p><a href="calendars" class="button">Calendarize your studying</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
     
      <div class="container">
        <h2>Text to Speech</h2>
        <p class="title">Audio Spatial Repitition Assistant</p>
        <p>Copy and past your copy and paste paragraphs or pages you want to 
  study, select a voice and listen to your text as you read it. </p>
       
        <p><a href="/index" class="button">Start using Text Reader</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
   
      <div class="container">
        <h2>Flashcards</h2>
        <p class="title">Visual Spatial Repitition Assistant</p>
        <p>Make and use cards to help better drill otherwise hard to memorize terms or scenarios.  This is good for test preparation
         and a good way to solidify knowledge.</p>
        
        <p><a href="flashcards" class="button">Start using Flashcards</a></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>